.header{
  font-size: 25px;
  background-color: lightseagreen;
  width: fit-content;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
}
.btn{
  font-size: 20px;
  background-color: yellow;
}